/* google font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* variabel css */
:root {

    /* warna */
    --satau: #6900EE;
    --dua: #B479FF;
    --tiga: #363636;
    --putih: #ffffff;
    --nav: rgba(236, 224, 253, 0.549);
    --gradient: linear-gradient(30deg, #6900EE, #B479FF);
    --shadow1: #b379ffa6;
    --shadow2: #ff797990;

    /* border */
    --border1:22px;
    --border2:12px;
    --border3:8px;
    --border4:6px;
    --border5:4px;

    /* font */
    --font1: "Sora", sans-serif;
    --font2: "Inter", sans-serif;

}

/* settingan awal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: var(--font2);
    color: var(--tiga);
}

/* navbar */
nav{
    position: relative;
    color: var(--putih);
    background-color: var(--nav);
    padding: 10px 20px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);

}
nav img {
    width: 150px;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: var(--tiga);
    position: relative;
}

.nav-menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: var(--border2);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px rgba(223, 183, 255, 0.411);
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    width: 150px;
    z-index: 100;
}

.nav-menu ul.show {
    display: flex;
    flex-direction: column;
    padding: 3px 12px;
}

.nav-menu ul li {
    margin: 10px 0;
}
.nav-menu ul li:last-child {
    background-color: var(--satau);
    border-radius: var(--border3);
    color: var(--putih);
}
.nav-menu ul li:last-child a{
    color: var(--putih);
}
.nav-menu ul li:last-child a:hover{
    color: var(--dua);
}
.nav-menu ul li a {
    color: var(--tiga);
    text-decoration: none;
    display: block;
    padding: 10px;
}
.nav-menu ul li a:hover {
    color: var(--satau);
}
.nav-menu input[type="checkbox"] {
    display: none;
}
.hamburger-menu {
    display: block;
    cursor: pointer;
}
.mode-icon {
    margin-left: 20px;
    cursor: pointer;
}
.mode-icon:hover {
    margin-left: 20px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.579);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px var(--shadow1);
}

.hero {
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    color: black;
    text-align: center;
    padding: 120px 300px;
    margin-top: 60px;
    font-family: var(--font1);
}

.hero span {
    background-color: #ffffff66;
    font-size: 25px;
    color: #A7A7A7;
    padding: 10px 25px;
    border-radius: 5px;
}

.hero p {
    font-size: 24px;
    margin: 30px 0 0 0;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

/* .hero h1 span {
    background-color: #ffffff66;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
} */

.hero h2{
    font-size: 13px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
    margin: 0 50px;
}

.project-card {
    background: #f5f5f5;
    padding: 200px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin: 0 0 10px;
    color: #6a1b9a;
}

.project-card p {
    margin: 0;
    color: #333;
}
footer{
    background-image: linear-gradient(-15deg, #6900EE, #B479FF );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}
footer img{
    width: 70px;
}
footer ul li{
    color: var(--putih);
    list-style: none;
    line-height: 20px;
    font-size: 12px;
}
footer a{
    color: var(--putih);
    text-decoration: none;
}
footer .media {
    display: flex;
    gap: 10px;
}
footer .media #media-icon{
    width: 20px;
}

/* mode dark */
body.dark-mode {
    background-color: #0b0035;
    color: #ffffff;
}

body.dark-mode nav {
    background-color: var(--nav);
}

body.dark-mode .nav-menu ul li a {
    color: #ffffff;
}
body.dark-mode .hero {
    color: #ffffff;
}


/* responsif ================================================================ */
@media (min-width: 768px) {
    nav {
        padding: 10px 80px;
    }

    .nav-menu ul {
        display: flex;
        position: static;
        width: auto;
        box-shadow: none;
        border: none;
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .nav-menu ul.show {
        display: flex;
    }

    .nav-menu ul li {
        margin: 0 10px;
    }

    .hamburger-menu {
        display: none;
    }

    footer{
        background-image: linear-gradient(-15deg, #6900EE, #B479FF );
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        height: 220px;
        text-align: left;
    }

    footer img{
        width: 13%;
    }
    footer ul li{
        color: var(--putih);
        list-style: none;
        line-height: 35px;
        font-size: 16px;
    }
    footer a{
        color: var(--putih);
        text-decoration: none;
    }
    footer .media {
        display: flex;
        gap: 25px;
    }
    footer .media #media-icon{
        width: 30px;
        height: 50px;
    }

}