/* google font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* variabel css */
:root {

    /* warna */
    --satau: #6900EE;
    --dua: #B479FF;
    --tiga: #363636;
    --putih: #ffffff;
    --nav: rgba(236, 224, 253, 0.549);
    --gradient: linear-gradient(30deg, #6900EE, #B479FF);
    --shadow1: #c095f9a6;
    --shadow2: #fc5454cd;

    /* border */
    --border1:22px;
    --border2:12px;
    --border3:8px;
    --border4:6px;
    --border5:4px;

    /* font */
    --font1: "Sora", sans-serif;
    --font2: "Inter", sans-serif;

}

/* settingan awal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: var(--font2);
    color: var(--tiga);
}

/* navbar */
nav{
    position: relative;
    color: var(--putih);
    background-color: var(--nav);
    padding: 10px 20px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);

}
nav img {
    width: 150px;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: var(--tiga);
    position: relative;
}

.nav-menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: var(--border2);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px rgba(223, 183, 255, 0.411);
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    width: 150px;
    z-index: 100;
}

.nav-menu ul.show {
    display: flex;
    flex-direction: column;
    padding: 3px 12px;
}

.nav-menu ul li {
    margin: 10px 0;
}
.nav-menu ul li:last-child {
    background-color: var(--satau);
    border-radius: var(--border3);
    color: var(--putih);
}
.nav-menu ul li:last-child a{
    color: var(--putih);
}
.nav-menu ul li:last-child a:hover{
    color: var(--dua);
}
.nav-menu ul li a {
    color: var(--tiga);
    text-decoration: none;
    display: block;
    padding: 10px;
}
.nav-menu ul li a:hover {
    color: var(--satau);
}
.nav-menu input[type="checkbox"] {
    display: none;
}
.hamburger-menu {
    display: block;
    cursor: pointer;
}
.mode-icon {
    margin-left: 20px;
    cursor: pointer;
}
.mode-icon:hover {
    margin-left: 20px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.579);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px var(--shadow1);
}

/* CONTAINER */
.container{
    padding: 50px 20px;
}
.container header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;         
}
.container header span{
    background-color: rgba(255, 255, 255, 0.426);
    padding: 8px 12px;
    border-radius: var(--border4);
    font-size: 12px;
}
.container header p{
    font-size: 13px;
    margin: 12px 0;
}
.container header h1{
    font-size: 22px;
    font-family: var(--font1);
    text-transform: capitalize;
}
.container header h1 span{
    display: inline-block;
    background-color: #6d28d9;
    color: #ffffff;
    padding: 5px 10px;
    transform: rotate(-5deg);   
    position: relative;
    border-radius: 0;
    z-index: -1;
    font-size: 22px;

}

.container header .bg{
    width: 150px;
    height: 150px;
    filter: blur(90px);
    -webkit-filter: blur(50px);
    position: absolute;
    border-radius: 50%;
    z-index: -99;
}
.container header .bg:nth-child(1){
    background-color: var(--satau);
    top: 20%;
    right: 40%;
}
.container header .bg:nth-child(2){
    background-color: var(--shadow2);
    top:20%;
    right: 25%;     
}
.container header .developer{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.container header .developer .dev-img {
    display: flex;
}
.container header .developer .dev-img img{
    width: 40px; 
    height: 40px;
    background-color: rgba(250, 250, 250, 0.94);
    border: 3px solid rgb(255, 255, 255);
    padding: 2px;
    border-radius: 50%; 
}
.container header .developer .dev-img img:nth-child(2){
margin-left: -15px;
}
.container header .developer .dev-img img:nth-child(3){
margin-left: -15px;
}

.container #icon{
    position: absolute;
}
.container #icon:nth-child(1){
    color: red;
    top: 15%;
    left: 15%;
}
.container #icon:nth-child(2){
    color: rgb(0, 68, 255);
    top: 45%;
    left: 20%;
}
.container #icon:nth-child(3){
    color: rgb(0, 174, 255);
    top: 11%;
    left: 50%;
}
.container #icon:nth-child(4){
    color: rgb(255, 196, 0);
    top: 18%;
    right: 12%;
}
.container #icon:nth-child(5){
    color: rgb(0, 145, 0);
    top: 45%;
    right: 12%;
}

.main{
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main .card {
    background-color: rgb(211, 211, 211);
    overflow: hidden;
    border-radius: 22px;
    width: auto;
}
.main .card a{
   text-decoration: none;
}
.main .card a img{
   width: 350px;
}
.main .card .keterangan{
   padding: 20px;
   color: var(--satau);
}
.main .card .keterangan p{
   font-size: 12px;
   color: black;
}


footer{
    background-image: linear-gradient(-15deg, #6900EE, #B479FF );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}
footer img{
    width: 70px;
}
footer ul li{
    color: var(--putih);
    list-style: none;
    line-height: 20px;
    font-size: 12px;
}
footer a{
    color: var(--putih);
    text-decoration: none;
}
footer .media {
    display: flex;
    gap: 10px;
}
footer .media #media-icon{
    width: 20px;
}

/* mode dark */
body.dark-mode {
    background-color: #0b0035;
    color: #ffffff;
}

body.dark-mode nav {
    background-color: var(--nav);
}

body.dark-mode .nav-menu ul li a {
    color: #ffffff;
}
body.dark-mode .hero {
    color: #ffffff;
}


/* responsif ================================================================ */
@media (min-width: 768px) {
    nav {
        padding: 10px 80px;
    }

    .nav-menu ul {
        display: flex;
        position: static;
        width: auto;
        box-shadow: none;
        border: none;
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .nav-menu ul.show {
        display: flex;
    }

    .nav-menu ul li {
        margin: 0 10px;
    }

    .hamburger-menu {
        display: none;
    }

    /* CONTAINER */
    .container{
        padding: 100px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        width: 60%;    
        text-transform: capitalize;
    }
    .container header span{
        background-color: rgba(255, 255, 255, 0.426);
        padding: 8px 12px;
        border-radius: var(--border4);
        font-size: 15px;
    }
    .container header p{
        font-size: 20px;
        margin: 12px 0;
    }
    .container header h1{
        font-size: 50px;
        font-family: var(--font1);
        text-transform: capitalize;
    }
    .container header h1 span{
        display: inline-block;
        background-color: #6d28d9;
        color: #ffffff;
        padding: 5px 10px;
        transform: rotate(-5deg);   
        position: relative;
        border-radius: 0;
        z-index: -1;
        font-size: 50px;
    }   

    .container header .bg{
        width: 350px;
        height: 350px;
        filter: blur(90px);
        -webkit-filter: blur(100px);
        position: absolute;
        border-radius: 50%;
        z-index: -99;
    }
    .container header .bg:nth-child(1){
        background-color: var(--satau);
        top: 20%;
        right: 40%;
    }
    .container header .bg:nth-child(2){
        background-color: var(--shadow2);
        top:20%;
        right: 25%;     
    }
    .container header .developer{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    .container header .developer .dev-img {
        display: flex;
    }
    .container header .developer .dev-img img{
        width: 40px; 
        height: 40px;
        background-color: rgba(250, 250, 250, 0.94);
        border: 3px solid rgb(255, 255, 255);
        padding: 2px;
        border-radius: 50%; 
    }
    .container header .developer .dev-img img:nth-child(2){
        margin-left: -15px;
    }
    .container header .developer .dev-img img:nth-child(3){
        margin-left: -15px;
    }

    .container #icon{
        position: absolute;
        width: 40px;
        height: 40px;
    }
    .container #icon:nth-child(1){
        color: red;
        top: 20%;
        left: 15%;
    }
    .container #icon:nth-child(2){
        color: rgb(0, 68, 255);
        top: 50%;
        left: 18%;
    }
    .container #icon:nth-child(3){
        color: rgb(0, 174, 255);
        top: 12%;
        left: 50%;
    }
    .container #icon:nth-child(4){
        color: rgb(255, 196, 0);
        top: 18%;
        right: 15%;
    }
    .container #icon:nth-child(5){
        color: rgb(0, 145, 0);
        top: 58%;
        right: 30%;
    }

    .main{
        /* background-color: red; */
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    .main .card {
        background-color: rgb(211, 211, 211);
        overflow: hidden;
        border-radius: 22px;
        width:323px;
    }
    .main .card a img{
        width:323px;
     }
    

    footer{
        background-image: linear-gradient(-15deg, #6900EE, #B479FF );
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        height: 220px;
        text-align: left;
    }

    footer img{
        width: 13%;
    }
    footer ul li{
        color: var(--putih);
        list-style: none;
        line-height: 35px;
        font-size: 16px;
    }
    footer a{
        color: var(--putih);
        text-decoration: none;
    }
    footer .media {
        display: flex;
        gap: 25px;
    }
    footer .media #media-icon{
        width: 30px;
        height: 50px;
    }

}