/* google font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* variabel css */
:root {

    /* warna */
    --satau: #6900EE;
    --dua: #B479FF;
    --tiga: #363636;
    --putih: #ffffff;
    --nav: rgba(236, 224, 253, 0.549);
    --gradient: linear-gradient(30deg, #6900EE, #B479FF);
    --shadow1: #b379ffa6;
    --shadow2: #ff797990;

    /* border */
    --border1: 22px;
    --border2: 12px;
    --border3: 8px;
    --border4: 6px;
    --border5: 4px;

    /* font */
    --font1: "Sora", sans-serif;
    --font2: "Inter", sans-serif;

}

/* settingan awal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--font2);
    color: var(--tiga);
}
nav{
    position: relative;
    color: var(--putih);
    background-color: var(--nav);
    padding: 10px 20px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    z-index: 25;

}
nav img {
    width: 150px;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: var(--tiga);
    position: relative;
}

.nav-menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: var(--border2);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px rgba(223, 183, 255, 0.411);
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    width: 150px;
    z-index: 100;
}

.nav-menu ul.show {
    display: flex;
    flex-direction: column;
    padding: 3px 12px;
}

.nav-menu ul li {
    margin: 10px 0;
}
.nav-menu ul li:last-child {
    background-color: var(--satau);
    border-radius: var(--border3);
    color: var(--putih);
}
.nav-menu ul li:last-child a{
    color: var(--putih);
}
.nav-menu ul li:last-child a:hover{
    color: var(--dua);
}
.nav-menu ul li a {
    color: var(--tiga);
    text-decoration: none;
    display: block;
    padding: 10px;
}
.nav-menu ul li a:hover {
    color: var(--satau);
}
.nav-menu input[type="checkbox"] {
    display: none;
}
.hamburger-menu {
    display: block;
    cursor: pointer;
}
.mode-icon {
    margin-left: 20px;
    cursor: pointer;
}
.mode-icon:hover {
    margin-left: 20px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.579);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px var(--shadow1);
}



.hero {
    color: black;
    text-align: center;
    padding: 120px 0;
    /* margin-top: 60px; */
}

.hero #colorPicker2 {
    width: 128px;
    margin-top: 3px;
    height: 75px;
    border: none;
    background-color: transparent;
}

.hero span {
    background-color: var(--satau);
    color: white;
    padding: 2px 7px;
}

.hero .hero-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 150px;
}

.hero .hero-2 p {
    background-color: var(--nav);
    padding: 7px 25px;
    font-size: 30px;
    color: var(--putih);
    border-radius: 3px;
    font-weight: 400;
}


.hero .bg{
    width: 100px;
    height: 100px;
    filter: blur(90px);
    -webkit-filter: blur(45px);
    position: absolute;
    border-radius: 50%;
}


.hero .hero-3 {
    margin: 0 200px;
}

.hero .hero-3 p {
    font-size: 30px;
}

.hero .hero-3 h1 {
    font-size: 60px;
}

.hero .team {
    margin: 30px 0;
}

.hero .team .team-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 310px;
}

.hero .team .team-img div img {
    width: 58px;
    background-color: white;
    padding: 2px;
    border-radius: 100%;
}

.hero .team h2 {
    font-size: 20px;
    color: var(--satau);
}

.hero .team img:nth-child(2) {
    margin: 0 -20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
    margin: 0 50px;
}

.project-card {
    background: #f5f5f5;
    padding: 200px 20px 20px 20px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin: 0 0 10px;
    color: #6a1b9a;
}

.project-card p {
    margin: 0;
    color: #333;
}

footer {
    background: linear-gradient(to right, #6a1b9a, #8e24aa);
    color: white;
    text-align: center;
    padding: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .media a ion-icon {
    width: 170px;
    color: #B479FF;
    width: 30px;
    height: 30px;
}

footer ul li {
    margin: 20px 0;
}

footer ul li a {
    display: flex;
    text-decoration: none;
    color: white;
}

footer ul li {
    display: flex;
    text-decoration: none;
}

footer .footer-content div a:hover {
    text-decoration: underline;
}




/* Dark mode styles */
body.dark-mode {
    background-color: #0b0035;
    color: #ffffff;
}

body.dark-mode nav {
    /* background-color: #1e1e1e; */
    background-color: var(--nav);
}

body.dark-mode .nav-menu ul li a {
    color: white;
}

body.dark-mode .mode-icon ion-icon[name="sunny"] {
    font-size: 25px;
    padding: 0 20px;
}

body.dark-mode .hamburger-menu ion-icon[name="menu"] {
    font-size: 25px;
}

body.dark-mode .nav-menu ul li:nth-child(5) a {
    background-color: var(--putih);
    color: #0b0035;
}

body.dark-mode .hero p {
    color: white;
}

body.dark-mode .hero h1 {
    color: white;
}

body.dark-mode .hero span {
    background-color: var(--putih);
    color: var(--satau);
    padding: 2px 7px;
}

body.dark-mode .team h2 {
    color: var(--putih);
}

body.dark-mode .hero .team img {
    background-color: #0b0035;
}

body.dark-mode .hero .hero-2 p {
    background-color: var(--nav);
    color: #0b0035;
}

body.dark-mode .project-card {
    background-color: var(--nav);
}

body.dark-mode .project-card p {
    color: var(--putih);
}



/* responsive navbar */

@media (min-width: 768px) {
    nav {
        padding: 10px 80px;
        }
        
        .nav-menu ul {
            display: flex;
            position: static;
            width: auto;
            box-shadow: none;
            border: none;
            background-color: transparent;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            }
            
            .nav-menu ul.show {
                display: flex;
                }
                
                .nav-menu ul li {
                    margin: 0 10px;
                    z-index: 5;
    }

    .hamburger-menu {
        display: none;
    }
}
/* Responsive styles */
@media (max-width: 768px) {

    .hero img {
        width: 20px;
    }

    .hero {
        margin: 0 30px;
    }

    .hero .hero-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 30px;

    }

    .hero .hero-2 p {
        font-size: 13px;
    }

    .hero .hero-3 {
        margin: 0 10px;

    }

    .hero .hero-3 p {
        font-size: 13px;
    }

    .hero .hero-3 h1 {
        font-size: 25px;
    }

    .hero .team h2 {
        font-size: 10px;
        margin: -15px 0;
    }

    .hero .team div img {
        width: 20px;
    }

    .hero .team .team-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 70px;
    }

    .hero .team .team-img div img {
        width: 20px;
        padding: 1px;
    }

    .hero .team img:nth-child(2) {
        margin: 0 -11px;
    }

    .projects {
        grid-template-columns: none;
        margin-top: -100px;
    }

    .project-card {
        padding: 180px 20px 20px 20px;
    }

    footer {
        display: grid;
    }

    footer img {
        width: 100px;
    }

}